/*********************
 GENERAL STYLES
*********************/

body {
    font-size: 14pt;
    line-height: 1.35em;
    color: #282828;
    font-family: Raleway, Arial, sans-serif;
}

:focus {
    outline: none;
}

.btn {
    color: #FFFFFF;
    padding: .6em .9em;
    display: inline-block;
    font-weight: bold;
    font-size: 1.2em;
    margin: .65em 0 1.45em;
    border: solid #FFFFFF 1px;
}

.btn:hover {
    color: #ffffff;
    background: #000000;
}


/*********************
 NAVBAR
*********************/

.navbar {
    background: rgba(100, 100, 100, .8);
    position: fixed;
    width: 100%;
    height: 100px;
    z-index: 1010;
}

.navbar__logo {
    padding: 8px 0;
}

.navbar__navigation {
    padding: 22px 0;
}


/*********************
 HEADER
*********************/

.header {
    background: url('../img/header-bg.png') center center no-repeat;
    background-size: cover;
    color: #FFFFFF;
}

.header__heading {
    font-size: 2em;
    font-weight: bold;
}

.header__body {
    font-size: 1.4em;
    line-height: 1.2em;
    font-weight: 500;
}

.header__content {
    padding: 100px 1em;
}

.header__btn {
    text-transform: uppercase;
}

.header__btn:nth-of-type(1) {
    margin-left: 0;
}


/*********************
 EXPERTS
*********************/

.experts {
    background: #DCDCDC;
    text-align: center;
    padding: 100px 0;
    margin: -15px;
}

.experts__heading {
    font-weight: bold;
    padding: 0 0 20px;
}

.experts__carousel {
    flex-direction: row;
    padding: 0;
}

.owl-wrapper-outer {
    padding: 0 0 70px 0;
}

.expert {
    background: #FFFFFF;
    text-align: right;
    margin: 25px 30px;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, .5);
}

.expert__info {
    padding: .8em;
}

.expert__photo {
    width: 40%;
    padding-top: 1vh;
    border-radius: 20px;
    margin: auto;
}

.expert__name {
    font-size: 1.28em;
    font-weight: bold;
    text-transform: uppercase;
}

.expert__role {
    color: #9B9B9B;
    font-size: 1.28em;
}

.expert__desc {
    color: #5C5C5C;
    font-size: .9em;
    word-wrap: break-word;
    hyphens: auto;
    text-align: left;
}

.tech {
    font-size: 2.5em;
    margin: 0vh 1vh 0vh 1vh;
}


/*********************
 WE DO
*********************/

.we-do {
    background: #00A6E8;
    padding: 100px 0;
}

.we-do__heading {
    color: black;
    text-align: center;
    font-weight: bold;
    padding: .35em 0 .75em;
}

.we-do__list {
    list-style-type: none;
    text-align: left;
    margin: 0;
    padding: 0;
}

.works__item {
    color: black;
font-size: 0.7em;
    line-height: 3em;
}


/*********************
 CONTACT
*********************/

.contact {
    padding: 0.8em 0 2.5em;
}

.contact__heading {
    font-size: 2.4em;
    text-align: center;
    font-weight: bold;
}

.contact__methods {
    list-style-type: none;
    margin: .75em 0;
    padding: 0;
}

.contact__icon {
    margin: 0 .25em;
}

.contact__form {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
}

.contact__link {
    color: #343434;
    font-weight: bold;
    padding-left: 1vh;
}

.contact__item {
    padding-bottom: 2vh;
}

.form__field {
    color: #202020;
    border: solid #B8B8B8 1px;
    border-radius: 3px;
    line-height: 1.25em;
    margin: .65em 0;
    padding: 8px;
    width: 100%;
}

.form__button--submit {
    background: #00A6E8;
    border: 0;
    border-radius: 5px;
    padding: 1em 2.5em;
}

::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #C8C8C8;
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: #C8C8C8;
}

:-ms-input-placeholder {
    /* IE 10+ */
    color: #C8C8C8;
}

:-moz-placeholder {
    /* Firefox 18- */
    color: #C8C8C8;
}
/*********************
COOPERATE
*********************/
.cooperate-item .item__image {
    vertical-align: bottom;
}
.cooperate-item {
    display: flex;
align-items: center;
height: 300px;
}
/*********************
TABS
*********************/
 /* Style the tab */
 .tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: #fff;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    width: 50%;
    color: #bfbfbf;
    font-size: 1rem;
    font-family: "Source Sans Pro";
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
    color: #242424;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #f3f3f3;
    color: #000;
}
.slick-prev::before, .slick-next::before {
     color: #000;
}
/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    background-color: #f3f3f3;
    border-top: none;
} 
.tabcontent {
    animation: fadeEffect 1s; /* Fading effect takes 1 second */
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}
/*********************
 PORTFOLIO
*********************/

.portfolio, cooperate  {
    padding: 0.8em 0 0;
}

.portfolio__header, .cooperate__header {
    font-size: 2.4em;
    font-weight: bold;
    text-align: center;
}

.portfolio__list {
    list-style-type: none;
    margin: 50px 0 40px;
    padding: 0;
}

.portfolio__btn {
    color: #9B9B9B;
    font-weight: 500;
    text-transform: uppercase;
    border-left: solid transparent 2px;
    margin: 5px 0;
    padding: 0 0 0 5px;
    line-height: 1.2em;
}

.portfolio__btn--active {
    color: #202020;
    border-left: solid #00A6E8 2px;
}

.portfolio__btn:hover {
    color: #202020;
    text-decoration: none;
}

.portfolio-items::after {
    content: '';
    display: table;
    width: 100%;
    clear: both;
}

.portfolio-item {
    position: relative;
    width: 100%;
}

.portfolio-item>.item-info {
    /*  R: 36   G: 167    B: 223  */
    background: rgba(36, 167, 223, .7);
    color: #FFFFFF;
    text-align: center;
    z-index: -1;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: all .35s ease-out;
}

.portfolio-item:hover>.item-info {
    z-index: 1;
    visibility: visible;
    opacity: 1;
}

.item-info__wrapper {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
}

.item-info__title {
    font-size: 1.5em;
    font-weight: bold;
    text-transform: uppercase;
}

.item-info__category {
    font-size: 0.7em;
}

.item-info__icon {
    border: solid #FFFFFF 2px;
    border-radius: 100%;
    font-weight: 2em;
    display: inline-block;
    padding: 10px;
    margin: 10px 0;
}

.item__image {
    width: 100%;
}


/*********************
 FOOTER
*********************/

.footer {
    background: #343434;
    color: #FFFFFF;
    font-weight: bold;
    text-align: center;
    padding: 1.8em 0;
}


/*********************
 OWL CAROUSEL
*********************/

.owl-wrapper {
    display: flex !important;
}

.owl-item>.experts__item {
    height: 100%;
}


/*********************
 MEDIA QUERIES
*********************/
@media(min-width: 200px) {
.portfolio__header, .cooperate__header {
    font-size: 1.6em;
}
.tabcontent {
    min-height: 300px;
}
.slick-arrow {
    display: none !important;
}
}

@media(min-width: 768px) {
    .slick-arrow {
        display: block;
    }
    .our-rules__heading {
        text-align: left;
        font-weight: bold;
        font-size: 2.375em;
        width: 80%;
        padding: 0;
    }
    .our-rules__heading::after,
    .experts__heading::after {
        content: '';
        display: block;
        width: 83px;
        height: 5px;
        background: #00A6E8;
        margin: 18px 0;
    }
    .our-rules__element {
        padding: 0;
    }
    .rule__wrapper {
        float: left;
        width: 75%;
    }
    .rule__header,
    .rule__body {
        text-align: right;
    }
    .rule__header {
        font-weight: bold;
        font-size: 1.4em;
    }
    .rule__icon {
        position: static;
        float: right;
        width: 25%;
        margin-top: 30px;
    }
    .experts__heading {
        text-align: left;
        font-size: 2.3em;
        font-weight: bold;
    }
    .we-do {
        background-size: 50%;
        background-position: 0% 40%;
        background-repeat: no-repeat;
        min-height: 90vh;
    }
    .we-do__heading {
        font-size: 1.6em;
        text-align: left;
    }
    .we-do__heading::after {
        content: '';
        display: block;
        width: 83px;
        height: 5px;
        background: #FFFFFF;
        margin: 18px 0 0;
    }
    .portfolio__list::after {
        content: '';
        display: table;
        width: 100%;
        clear: both;
    }
    .portfolio__category {
        float: left;
        margin: 0 10px;
    }
    .portfolio__category:nth-of-type(1) {
        clear: left;
        margin: 0 10px 0 0;
    }
    .portfolio__btn,
    .portfolio__btn--active {
        border-left: 0;
        padding: 0;
    }
    .portfolio__header, .cooperate__header {
        font-size: 1.6em;
        text-align: left;
    }
    .portfolio__header::after, .cooperate__header::after {
        content: '';
        display: block;
        width: 83px;
        height: 5px;
        background: #00A6E8;
        margin: 18px 0 0;
    }
    .portfolio-item {
        width: 50%;
        float: left;
    }
    .portfolio-item:nth-child(2n+1) {
        clear: left;
    }
    .item-info__title {
        font-size: 1.2em;
        font-weight: bold;
        text-transform: uppercase;
    }
    .item-info__category {
        font-size: 0.8em;
    }
    .services__heading {
        font-size: 1.6em;
        text-align: left;
    }
    .services__heading::after {
        content: '';
        display: block;
        width: 83px;
        height: 5px;
        background: #FFFFFF;
        margin: 18px 0 0;
    }
    .services-item__wrapper {
        margin: 60px 0;
    }
    .services-item__container {
        width: 60%;
        float: left;
        text-align: right;
        padding: 0 1em;
    }
    .services-item__image-wrapper {
        width: 40%;
    }
    .services-item__heading,
    .services-item__lead {
        text-align: right;
    }
    .services-item__image-wrapper {
        float: right;
    }
    .services-item__wrapper:nth-of-type(2n+1) .services-item__container {
        float: right;
        text-align: left;
    }
    .services-item__wrapper:nth-of-type(2n+1) .services-item__heading,
    .services-item__wrapper:nth-of-type(2n+1) .services-item__lead {
        text-align: left;
    }
    .services-item__wrapper:nth-of-type(2n+1) .services-item__image-wrapper {
        float: left;
    }
    .services-item__image {
        margin: 8px 10px;
    }
    .team__heading {
        font-size: 1.6em;
        text-align: left;
    }
    .team__heading::after {
        content: '';
        display: block;
        width: 83px;
        height: 5px;
        background: #009EDE;
        margin: 18px 0 0;
    }
    .team__list::after {
        content: '';
        display: table;
        width: 100%;
        clear: both;
    }
    .team__category {
        float: left;
        margin: 0 10px;
        line-height: 1.8em;
    }
    .team__category:nth-of-type(1) {
        clear: left;
        margin: 0 10px 0 0;
    }
    .team__btn,
    .team__btn--active {
        border-left: 0;
    }
    .card {
        height: 286px;
        overflow: hidden;
    }
    .card::after {
        content: '';
        display: table;
        width: 100%;
        clear: both;
    }
    .card__photo {
        width: 286px;
        height: 286px;
        float: left;
    }
    .card__description {
        padding: .8em;
        float: right;
        width: calc(100% - 286px);
    }
    .contact__heading {
        text-align: left;
    }
    .contact__heading::after {
        content: '';
        display: block;
        width: 83px;
        height: 5px;
        background: #00A6E8;
        margin: 18px 0 0;
    }
}

@media(min-width: 1024px) {
    .btn {
        padding: .55em .95em;
        font-size: 1.2em;
    }
    .header__content {
        text-align: left;
    }
    .header__heading {
        font-size: 2.4em;
        padding: 1.15em 0 .65em;
        text-transform: uppercase;
    }
    .header__body {
        font-size: 1.3em;
        padding: 1.15em 0;
        max-width: 800px;
    }
    .our-rules {
        background-image: url('../img/screen.png');
        background-size: 50%;
        background-position: 110% 50%;
        background-repeat: no-repeat;
        padding: 120px 0 200px;
    }
    .our-rules__heading {
        width: 100%;
    }
    .we-believe__text {
        font-size: 2.05em;
        line-height: 1.2em;
        text-align: left;
    }
    .we-believe__right {
        padding: 45px 0 0 0;
        text-align: right;
    }
    .cooperate-item {
    height: 300px;
    }
    .we-do {
        background-size: 50%;
        background-position: 0% 50%;
    }
    .works__item {
        line-height: 4em;
    }
    .portfolio-item {
        width: 33.3333%;
        float: left;
    }
    .portfolio-item>.item-info {
        width: 50%;
        margin-left: 50%;
    }
    .portfolio-item:nth-child(2n+1) {
        clear: none;
    }
    .portfolio-item:nth-child(3n+1) {
        clear: left;
    }
    .services-item__container {
        padding: 25px 1em;
    }
    .services-item__wrapper {
        margin: 40px 0;
    }
    .experts {
        padding: 100px 0;
    }
    .tabcontent {
        min-height: 425px;
    }
}

@media(min-width: 1400px) {
    .container {
        width: 1400px;
    }
    .portfolio-item {
        width: 25%;
        float: left;
    }
    .portfolio-item:nth-child(3n+1) {
        clear: none;
    }
    .portfolio-item:nth-child(4n+1) {
        clear: left;
    }
    .card {
        width: 48%;
        margin: 28px 1%;
        float: left;
        height: 286px;
        overflow: hidden;
    }
    .card:nth-of-type(2n+1) {
        clear: left;
    }
    .card__photo {
        width: 286px;
        height: 286px;
    }
    .card__description {
        width: 56%;
    }
}
